nav {
    width: auto;
}

.Search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0A0A0A;
    padding: 15px 45px;
}

.Logo {
    display: flex;
    align-items: center;
}

.Logo h1 {
    margin-left: 10px;
    color: #ffffff;
}

.search-box {
    display: flex;
}

.search-box input {
    width: 519px;
    padding: 11px;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.search-btn {
    padding: 11px 15px;
    text-align: center;
    background-color:#7A0000;
    transition: .2s;
}

.search-btn:hover {
    background-color:#7a0000a2;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.info {
    display: flex;
    align-items: end;
}

.info hr {
    width: 18px;
    rotate: 90deg;
    margin: auto;
    color: #7A0000;
    height: 0.1px;
}

.input-selection a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    color: #cbcbcb;
}

.input-selection {
    margin-bottom: 4px;
}

.reg-href {
    margin-right: 18px;
}

.account-info {
    padding: 0 12px;
}

.account-info p {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    cursor: pointer;
}

.contacts-info {
    padding: 0 12px;
}

.contacts-info a{
    text-decoration: none;
}

.location {
    display: flex;
    align-items: center;
}

.location p {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    color: #cbcbcb;
    margin-left: 9px;
}

.location img {
    width: 7px;
    height: 8px;
}

.tel-href {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}

.basket {
    padding: 0 12px;
}

.basket-href {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    color: #cbcbcb;
    margin-bottom: 6px;
    display: block;
}

.balance-href {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-bar {
    padding: 0 45px;
    background-color: #1B1918;
    display: flex;
}

.nav-bar-bg {
    padding: 11px 20px;
    background-color: #0c0c0c;
}

.nav-bar-noBg {
    padding: 11px 20px;
}

.nav-bar-false {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    transition: .2s;
}

.nav-bar-true {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    transition: .2s;
    color: #7a0000;
}

.nav-bar-false:hover {
    color: #9a9a9a;
}

.space {
    padding: 10px 0;
}

.space2 {
    max-width: 100%;
    padding: 20px;
    border-top: 1px solid black;
}