.topic {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #939393;
    margin-top: 20px;
    margin-bottom: 20px;
}
.topic h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.2em;
}

.topic button {
    outline: none;
    border: none;
    background-color: #4a0c0c;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 100;
    width: 27px;
    height: 27px;
    cursor: pointer;
    transition: .2s;
}

.topic button:hover {
  border-radius: 50%;
  background-color: #651111;
}

.open-list {
    width: 100%;
    display: block;
    margin-bottom: 60px;
}

.close-list {
    display: none;
}

.point {
    position: relative;
    margin-top: 9.5px;
    /* border: 1px solid white; */
}

.point label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: .5;
}

.point p {
    position: absolute;
    top: 10%;
    right: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 18px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    opacity: 0.5;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .custom-checkbox:checked+label::before {
    border-color: #7A0000;
    background-color: #7A0000;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

  .priceInputFlex {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
  }

  .price-input {
    padding: 8px 10px;
    background-color: #ffffff00;
    outline: none;
    border: none;
    border: 1px solid #525457;
    width: 80px;
    text-align: center;
    color: #ffffff;

  }

  .price-input_2 {
    border-left: none;
  }

  .priceInputFlex button{
    width: 100%;
    outline: none;
    border: none;
    color: #ffffff;
    background-color: #4a0c0c;
    transition: .2s;
  }

  .priceInputFlex button:hover {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #651111;
  }