.filter-container h2 {
    color: white;
    font-family: 'Alex Brush', cursive;
    font-size: 58px;
    font-weight: 100;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 10px;
}