.swiper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .button-next-slider {
    position: absolute;
    top: 40%;
    right: 30px;
    z-index: 2;
  }

  .button-prev-slider {
    position: absolute;
    top: 40%;
    left: 30px;
    z-index: 2;
  }

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  display: none;
}